.App {
  text-align: center;
  background-color: rgb(233, 230, 230);
  margin: 0;
}
a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit the color from the parent element */
}

/* Or you can set a specific color for links */
a {
  text-decoration: none;
}

@font-face {
  font-family: "Rilley";
  src: url("../src/assets/fonts/Rilley.ttf");
}

@font-face {
  font-family: "DailyShine-Regular";
  src: url("../src/assets/fonts/DailyShine-Regular.ttf");
}
@font-face {
  font-family: "Nutgame-Bold";
  src: url("../src/assets/fonts/Nutgame-Bold.ttf");
}
@font-face {
  font-family: "Sink";
  src: url("../src/assets/fonts/Sink.ttf");
}
